/*-------------------container--------------------*/
.container {
    width: 960px;
    margin: auto;
    background: lightgoldenrodyellow;
    min-height: 1000px;
}
    /*-------------------header--------------------*/
.container header {
     background-color:aquamarine;
     padding: 20px;
     overflow: hidden;
}
.container header #logo a img {
       width: 100px;
}
.container header #logo h1 {
       float: right
}
    /*-------------------nav--------------------*/
    .container nav {
        text-align: center;
    }

        .container nav ul {
            list-style-type: none;
            background-color: cadetblue;
            overflow: hidden;
        }

            .container nav ul li {
                float: left;
            }

                .container nav ul li a {
                    color: #fff;
                    text-decoration: none;
                    display: block;
                    border-left: solid white 1px;
                    padding: 10px 60px;
                }

            .container nav ul ul {
                position: absolute;
                left: -999px;
                padding: 0;
                margin: 0;
            }

            .container nav ul li li {
                float: none;
                border-bottom: solid white 1px;
                border-top: solid white 1px
            }

            .container nav ul li:hover ul {
                left: auto;
            }

            .container nav ul li a:hover {
                color: cadetblue;
                background: #fff;
            }

            .container nav ul li #home {
                border-left: none
            }
 
    /*-------------------footer--------------------*/

    .container .footer {
        background: aquamarine;
        height: 50px;
        padding: 20px;
        text-align: center;
    }

   
   
    /*-------------------body--------------------*/
    .container .body {
        overflow: hidden
    }

        .container .body article {
            width: 600px;
            height: 500px;
            margin: auto;
            padding: 5px;
            background: white;
           
         
            border: 3px solid aquamarine;
        }

/*-------------------login--------------------*/


button {
    background-color: #4CAF50;
    color: white;
    padding: 16px 28px;
    margin: 7px 25px;
    border: none;
    font-size: 16px;
    border-radius: 20px;
    cursor: pointer;
  
    
}
    button:hover {
        opacity: 0.8;
    }

/*-------------------page 2--------------------*/

